dd {
    margin-bottom: 1px;
}

td {
    padding: 10px;
}

td div {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: transparent;
    border: 10px solid darkorange;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation-iteration-count: 1;
    transform-origin: bottom left;
    font-size: 0.8rem;
}

td:hover div {
    animation-timing-function: ease;
    animation: mostrar-texto 1500ms forwards;
}

@keyframes mostrar-texto {
    0% {
        transform: scaleY(1) scaleX(1);
    }

    50% {
        transform: scaleY(0) scaleX(0);
    }

    100% {
        transform: scaleY(1) scaleX(1);
        background-image: none;
        color: black;
    }
}

.img-en-texto {
    height: 2.5em;
}

.pie-de-imagen {
    width: 100%;
    text-align: center;
    color: darkblue;
    font-weight: 600;
    font-style: italic;
}

.color-fondo {
    background-color: cadetblue;
}

.color-rojo {
    color: crimson;
    font-weight: 800;
}

.color-naranja {
    color: coral;
    font-weight: 800;
}

.color-amarillo {
    color: gold;
    font-weight: 800;
}

.color-verde {
    color: chartreuse;
    font-weight: 800;
}

.color-azul {
    color: blue;
    font-weight: 800;
}

.color-aqua {
    color: aquamarine;
    font-weight: 800;
}
